.Transactions {
    width: 90%;
    min-width: 290px;
    min-height: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.transactions-title {
    background-color: #0c8397;;
}

.transactions-fieldset {
    padding-left: 8px;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0;
}

.transactions-search-label {
    visibility: hidden;
}

.transactions-search {
    width: 40%;
}

.transactions-button-container {
    display: flex;
    justify-content: space-evenly;
}

.transactions-button {
    height: 24px;
    min-width: 60px;
}

.transactions-date-drop::after {
    content: '';
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.transactions-beneficiary {
    
}

.transactions-amount {
    
}

.transaction-logo {
    width: 40px;
    height: 40px;
}

.transaction-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 80px;
    border: 1px solid grey;
    font-size: 0.8rem;
}

#vertical-bar {
    width: 8px;
    height: 80px;
    background-color: gray;
}

.transaction-date {
    width: 36px;
}

.transaction-company {
    width: 72px;
};

/*
    this does not appear to be working
*/
.transaction-amount {
    width: 40px;
}