.Transactions {
    width: 90%;
    min-width: 290px;
    min-height: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.transactions-title {
    background-color: #0c8397;;
}

.transactions-fieldset {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0;
    margin-bottom: 8px;
}

.transactions-search-label {
    visibility: hidden;
}

.transactions-search {
    height: 24px;
    width: 60%;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.transactions-button-container {
    display: flex;
    justify-content: space-evenly;
}

.transactions-span {
    vertical-align: middle;
}

.transactions-button {
    height: 24px;
    width: 62px;
    background-color: white;
    border: 1px solid gray;
    font-size: 0.8rem;
}

.transactions-date-drop::after {
    display: block;
    float: right;
    margin-top: 6px;
    margin-right: 2px;
    content: '';
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.transfers-date-options {
    display: flex;
    flex-direction: column;
}

.transfers-date-buttons {
    clear: both;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.transfers-date-descending,
.transfers-date-ascending {
    background-color: white;
    border: 1px solid gray;
    height: 24px;
}

.transactions-beneficiary {
    width: 94px;
}

.transactions-amount {
    width: 62px;
}

.transaction-logo {
    width: 40px;
    height: 40px;
}

.transaction-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 80px;
    border: 1px solid grey;
    font-size: 0.8rem;
}

#vertical-bar {
    width: 8px;
    height: 80px;
    background-color: gray;
}

.transaction-date {
    width: 36px;
}

.transaction-company {
    width: 72px;
}

.transaction-amount {
    width: 40px;
    margin-right: 4px;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1025px) {

}